<div class="header">
  <a routerLink="/home" class="site-name">Jutjubic</a>
  <div class="menu-options" *ngIf="isLoggedIn">
    <a routerLink="/home">Home</a>
    <a routerLink="/home">Upload</a>
  </div>
  <div class="user">
    <div *ngIf="isLoggedIn" class="flex-row flex-center user-info">
      <div class="flex-column flex-center">
        <mat-icon *ngIf="isLoggedIn">account_circle</mat-icon>
        <p class="text-center">{{user?.username}}</p>
      </div>   
      <a (click)="logout()">Logout</a>
    </div>
    <div *ngIf="!isLoggedIn" class="flex-row account-actions">
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </div>
    
  </div>
</div>