<form [formGroup]="registrationForm" (ngSubmit)="register()">
    <div>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="firstName" type="text"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Surname</mat-label>
            <input matInput formControlName="lastName" type="text"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" type="text"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" type="text"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="text"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password1" type="password" [ngClass]="{'password-mismatch': passwordMismatch}"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Repeat password</mat-label>
            <input matInput formControlName="password2" type="password" [ngClass]="{'password-mismatch': passwordMismatch}"/>
        </mat-form-field>
        <p *ngIf="passwordMismatch" class="password-error">
            Passwords must match
        </p>
    <button color="primary" type="submit" mat-raised-button>Register</button>
    </div>
</form>


